<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connection_string" value="Data Source=(localdb)\\MSSQLLocalDB;Initial Catalog=Valorant;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </appSettings>
</configuration>